#container {
    /* 192 original size */
    width: 360px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    /* Hacky work around to prevent a small
    gap from appearing between border and grid */
    background-color: black;
    border: 5px solid black;
}

.ui {
    width: fit-content;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.etch-a-sketch {
    padding: 10px;
    background-color: red;
    flex-grow: 0;
}